body {
    background-color: rgb(183, 216, 181);
}

.header2 {
    width: 100%;
    height: auto;
}

.me {
    width: 400px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 800px;
    height: 545px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutnav {
    font-size: 40px;
}

.text {
    font-size: 20px;
}

.h2{
    font-size: 50px;
}