body {
    background-color: rgb(183, 216, 181);
}

.header3 {
    width: 100%;
    height: auto;
}

.dj {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactnav {
    font-size: 40px;
}

.h2{
    font-size: 50px;
}

.icon{
    width: 75px;
    height: 75px;
    margin-left: 500px;
}